<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arh.springsecuritydemo.mapper.UserMapper">
    <resultMap id="basicUserResultMap" type="com.arh.springsecuritydemo.entity.User">
        <id property="id" column="f_id"></id>
        <result property="name" column="f_name"></result>
        <result property="phone" column="f_phone"></result>
        <result property="remark" column="f_remark"></result>
        <result property="username" column="f_username"></result>
        <result property="password" column="f_password"></result>
        <result property="enabled" column="f_enabled"></result>
    </resultMap>
    <resultMap id="userResultMap" type="com.arh.springsecuritydemo.entity.User" extends="basicUserResultMap">
        <collection property="roleList" ofType="com.arh.springsecuritydemo.entity.Role">
            <id property="id" column="rId"></id>
            <result property="name" column="rName"></result>
            <result property="nameZh" column="rNameZh"></result>
            <collection property="menuList" ofType="com.arh.springsecuritydemo.entity.Menu">
                <id property="id" column="mId"></id>
                <result property="url" column="mUrl"></result>
                <result property="name" column="mName"></result>
            </collection>
        </collection>
    </resultMap>

    <sql id="roleBasicColumn">
        r.f_id as rId,r.f_name as rName,r.f_name_zh as rNameZh
    </sql>
    <sql id="menuBasicColumn">
        m.f_id as mId,m.f_url as mUrl,m.f_name as mName
    </sql>
    
    <select id="selectUserById" resultMap="basicUserResultMap">
        select * from t_user where id = #{id}
    </select>

    <select id="selectUserByUsername" resultMap="basicUserResultMap">
        select * from t_user where f_username = #{username}
    </select>
    
    <select id="selectUserWithRoleAndMenuByUsername" resultMap="userResultMap">
        select u.*,
        <include refid="roleBasicColumn"/>,
        <include refid="menuBasicColumn"/>
        from t_user u
        left join t_user_role ur
        on u.f_id = ur.f_user_id
        left join t_role r
        on ur.f_role_id = r.f_id
        left join t_menu_role mr
        on r.f_id = mr.f_role_id
        left join t_menu m
        on mr.f_menu_id = m.f_id
        where u.f_username = #{username}
    </select>
</mapper>